/*
 * Copyright (c) 2025 Team PHDesign
 *
 * SPDX-License-Identifier: MIT
 */

#include "PH60-Multi_V2.dtsi"


/ {
	chosen {
		zmk,battery = &vddh;
	};

	vddh: vddh {
		compatible = "zmk,battery-nrf-vddh";
	};

	soft_off_wakers {
		compatible = "zmk,soft-off-wakeup-sources";
		wakeup-sources = <&kscan0>;
	};

	kscan_wakeup: kscan_wakeup {
		compatible = "zmk,kscan-wakeup-trigger-consumer";
		wakeup-source = <&kscan0>;
		column = <12>;
		row = <2>;
	};
};
