if SHIELD_S60TEST

config ZMK_KEYBOARD_NAME
    default "s60test"

config ZMK_LED_WIDGETS
    bool "LED indicator widgets support"
    default y
    select LED
    select PWM

if ZMK_LED_WIDGETS

config ZMK_LED_WIDGETS_MAX_WIDGET_NUM
    int "Maximum number of widgets per event type"
    default 2

config ZMK_LED_WIDGETS_INIT_PRIORITY
    int "LED widgets init priority"
    default 99

endif # ZMK_LED_WIDGETS

endif
